<div style="min-height: 100%; position: relative;">
    <div class="logo-header">
        <a ui-sref="app.menu" href=""><img src="images/logo.png" class="logo" ></a>
    </div>

    <section class="content"
            ui-view> </section>

    <footer>
            <div class="menu-area footer-area">

                <div style="padding-bottom: 10px"><a href="" ng-click="showAboutUs()">About us</a></div>
                <div>微信: <a href="" ng-click="showQRCode()">二维码</a></div>
                <div>电话：905-597-0143</div>
                <div>地址：300 John St，MarkhamToronto, ON M5T 1X5</div>
            </div>
    </footer>
</div>
