/*
 *  Header Area Styling
 */
.header-area {
    text-align: center;
}

.header-area h3 {
    margin-top: -5px;
}

/*
 * General Styling
 */
html {
    height: 100%;
    width: 100%;
}

body {
    padding-bottom: 40px;
    height: 100%;
    width: 100%;
}

/*
 * Checkout area
 */
.checkout-area {
    display: inline-block;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
}

.logo-header {
    margin: 0 auto;
    text-align: center;
}

.logo{
    width: 320px;
}

.email{
    font-size: 1.8em;
    color: black;
    text-align: center;
    padding-top: 35px;
    margin-bottom: 1.3em;
}

.instructions-box{
    height: 280px;
    width: 350px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 10;
    opacity: 0.9;
    margin-top: -30%;
    margin-bottom: 12%;
}

.title{
    padding-top: 7%;
    text-align: center;
}

.instructions-images{
    float: left;
    width: 75px;
    height: 200px;
    text-align: center;
}

.instructions-image{
    margin-top: 20px;
    height: 40px;
}

.instructions-text{
    float: left;
    width: 260px;
    height: 200px;
}

.instructions-text>p{
    font-size: 12px;
    margin-top: 20px;
}

.backdrop > img {
    width: 100%;
    height: auto;
}

footer > * li {
    list-style:none;
}




.company-intro{
    float: left;
}

.company-intro > ul {
    padding-left: 0;
}

.company-contact{
    float: right;
}

.company-contact>ul{
    padding-right: 0;
    text-align: right;
}