/*
 *  Header Area Styling
 */
.header-area {
    text-align: center;
}

.header-area h3 {
    margin-top: -5px;
}

/*
 * General Styling
 */
html {
    height: 100%;
    width: 100%;
}

body {
    padding-bottom: 40px;
    height: 100%;
    width: 100%;
}

/*
 * Checkout area
 */
.checkout-area {
    display: inline-block;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
}

.logo-header {
    margin: 0 auto;
    text-align: center;
}

.logo{
    width: 320px;
}

.email{
    font-size: 1.8em;
    color: black;
    text-align: center;
    padding-top: 35px;
    margin-bottom: 1.3em;
}

.backdrop > img {
    width: 100%;
    height: auto;
}

footer > * li {
    list-style:none;
}