@font-face {
    font-family: c;
    src: url(../fonts/腾祥沁圆简体.ttf);
}



.carousel-inner > .item > img {
    margin: 0 auto;
    width: 100%;
}


.carousel .slide .fixed{
	position: absolute;
	z-index: -3;

}

.carousel-inner{
	position: relative;
	z-index: -3;

}

html{
	font-family: c;
}




body { 
	font-size: 1em;
	font-family: c;

}


a:hover{
	text-decoration: none;
	color: black;
}

a:link{
	text-decoration: none;
	color: black;
}

a:visited{
	text-decoration: none;
	color: black;
}

a:active{
	text-decoration: none;
	color: black;
}


.main-header{
	height:160px;
	width: 100%;
	padding-left: 10%;
	padding-right: 10%;
	display: block;
}

.logo-section{
	height: 160px;
	width: 160px;
	background-image: url("../images/logo.jpg");
	display: inline;
	float: left;
}


.icon{
	text-align: center;
	float: right;

}

.iconImage{
	width:35px;
	height:35px;
	margin-left: 10px;
}

.email{
	font-size: 1.8em;
	color: black;
	text-align: center;
	padding-top: 35px;
	margin-bottom: 1.3em;
}


.menu-box{
	height: 250px;
	width: 350px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index: 10;
	margin-top: -30%;


	opacity: 0.9;
    filter: alpha(opacity=60);
}

.title{
	padding-top: 7%;
	text-align: center;
}

.subtitle{
	padding-top: 1%;
	text-align: center;

}
.menutitle{
	padding-top: 15%;
	padding-right: 3%;
	text-align: right;
}

.menu{
	margin-top: 1%;
	height: 40px; 
	width: 110px; 
	border-color: rgb(114,193,139); 
	border-style: solid; 
	border-width:2px; 
	border-radius:5px; 
	text-align:center ;
	float: right;
	margin-right: 1%;
	margin-bottom:1%;
	background-color: rgb(114,193,139);
}

.menutext{
	color: white;
}

.index-wrapper{
	margin-bottom: 50px; 
	text-align: center;
	width: 71.2%;
	margin-left: auto;
	margin-right: auto;
	background-color: rgb(245,245,245);
	height: 100%;
	margin-bottom:-2%;


}

.food-description{
	width: 100%;
	background-color: rgb(245,245,245);
	margin-top: 10%;
	z-index:-1;
	text-align: center;
}

.food-description>h1{
	padding-top: 2%;
	font-size: 4em;
	background-color: rgb(245,245,245);
	margin-bottom: 0;
	padding-bottom: 8%;
	padding-top:5%;

}

.food-description-left{
	display: inline-block;
	vertical-align:top;
	background-color: rgb(245,245,245);
	text-align: center;
	width: 80%;


}


.food-description-right{
	display: inline-block;
	vertical-align:top;
	background-color: rgb(245,245,245);
	text-align: center;
	width: 80%;
}

.foodDImage{
	height: 200px;
	width: 200px;
}

.foodDtext{
	padding-left: 5%;
	font-size: 1.5em;
}

.indicator-wrapper{
	height: 450px;
	width: 350px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index: 13;
	margin-top: -35%;
/*	background-color: transparent;
*/
	background-color: white;
}


.carousel-indicators li {
	height: 40px;
	width: 40px;
	text-align: center;
	color: red;
	font-size: 3em;
	border-color: black;
	border-radius: 100%;
	margin-bottom: 60px;
	display: block;
	margin-left: -15px;


}

.carousel-indicators li.active {
	height: 40px;
	width: 40px;
	text-align: center;
	color: red;
	font-size: 3em;
	border-color:black;
	background-color: rgb(200,200,200);
	margin-bottom: 60px;
	display: block;
	margin-left: -15px;


}

.i-title{
	padding-top: 7%;
	text-align: center;
}

.Click{
	padding-top: 8%;
	padding-left: 35%;
	padding-right:15%;
}

.Text{
	padding-top: 14%;
	padding-left: 35%;
	padding-right:15%;

}

.Eat{
	padding-left: 35%;
	padding-top: 14%;
	padding-right:15%;


}


/*.team-box-wrapper{
	margin-top: 70px;
	margin-bottom: 50px; 
	text-align: center;
}

.team-box{
	width: 150px;
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 30px;
	display: inline-block;
	vertical-align:top;
}

.team-image{
	width: 150px;
	height: 150px;
} 

.team-text{
	display: inline;
	height: 100px;
}*/

.homeDImage{
	width: 80%;
}


/*about page*/
/*.intro-text{
	margin-top: 0px;
	margin-bottom: 50px; 
	text-align: center;
	background-color: gray;
	height:300px;
	width: 71.2%;
	margin-left: auto;
	margin-right: auto;
}*/
.about-wrapper{
	margin-top: 70px;
	margin-bottom: 50px; 
	text-align: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.about-box{
	width: 200px;
	height: 200px;
	display: inline-block;
	vertical-align:top;
}

.about-image{
	width: 200px;
	height: 200px;
} 

.about-text{
	display: inline;
	width: 200px;
	font-size: 11px;
}
/*about page*/


.footer{
	position: fixed;
	bottom: 0px;	
    right:0px;
	z-index: 100;
	height: 50px; 
	width: 120px; 
	text-align:center ;
	float: right;
	color: black;
	opacity: 0.9;
    filter: alpha(opacity=60);
}

.bottom-m{
	background-color: rgb(245,245,245); /*gray*/
	height: 50px; 
	width: 120px; 
	padding-top: 15px;
	font-size: 15px;

}

a:hover div{
	background-color: rgb(114,193,139); /*green*/
	color: white;
}

/*footer{
	background-color: rgb(245,245,245);
	width: 100%;
	height: 180px;
	display: block;
}*/


@media screen and (max-width:420px) and (orientation: portrait){
	.menu-box{
	
		width: 270px;
	}
	.indicator-wrapper{
		width: 270px;
	}
	.Click{
		padding-top: 10%;
	}

	.Text{
		padding-top: 13%;
	}

	.Eat{
		padding-top: 16%;
	}
}

