<md-dialog aria-label="Edit Location" md-theme="redThemeBtn">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Edit Location</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancelDialog()">
                    <md-icon md-svg-src="assets/icons/ios-close-empty.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div>
                <md-input-container>
                    <label>School</label>
                    <input ng-model="item.school">
                </md-input-container>
                <md-input-container>
                    <label>Pickup Location</label>
                    <input ng-model="item.pickupLocation">
                </md-input-container>
                <md-input-container>
                    <label>username</label>
                    <input ng-model="item.username">
                </md-input-container>
                <md-input-container>
                    <label>password</label>
                    <input ng-model="item.password">
                </md-input-container>
            </div>
        </md-dialog-content>
        <div class="md-actions" layout="row">
            <span flex></span>
            <md-button ng-click="cancelDialog()" class="md-primary">
                Cancel
            </md-button>
            <md-button ng-click="closeDialog(item)" class="md-primary">
                Save
            </md-button>
        </div>
    </form>
</md-dialog>
