<div>
    <div class="header-area">
        <h1>优厨房</h1>
        <h3 class="text-muted">精彩在味蕾绽放</h3>
    </div>

    <div class="title-area">
        <h3>UTSC 今日午饭菜单</h3>
        <h4 class='text-muted'>取餐时间、地点：13:00-13:30 于 BUS LOOP (38路旁边)</h4>
    </div>

    <div class="food-items">
        <div class="food-item"
             ng-controller="foodController"
             ng-repeat="item in food">

            <div class="img-container">
                <img ng-src="{{item.image}}" alt="Food Image"/>
            </div>
            <md-button class="description-button" ng-click="isCollapsed = !isCollapsed">
                description <span class="pull-right">
					<!--<i ng-show="isCollapsed" class="fa fa-plus"></i>-->
					<md-icon ng-show='isCollapsed' md-svg-src="assets/icons/ic_add_48px.svg" alt="plus"></md-icon>
				<md-icon ng-hide="isCollapsed" md-svg-src="assets/icons/ic_remove_48px.svg" alt="minus"></md-icon>
            </md-button>
            <div class="food-description-box" ng-class="{open: !isCollapsed}">
                <div class="card-text-top">
                    {{item.description}}
                </div>
                <div class="card-text-bottom">
                    <md-tabs md-stretch-tabs="never" md-dynamic-height="true">
                        <md-tab>
                            <md-tab-label>材料</md-tab-label>
                            <md-tab-body>
                                <md-content class="ingredients-section-content" ng-bind-html="item.ingredients">
                                </md-content>
                                <div class="ingredients-section" ng-bind-html="item.ingredients">
                                </div>
                            </md-tab-body>
                        </md-tab>
                        <md-tab>
                            <md-tab-label>营养价值</md-tab-label>
                            <md-tab-body>
                                <div class="nutrition-tab">
                                    <div class="nutrition-item">
                                        <div class="nutrition-value">{{item.calories}}</div>
                                        <div class="nutrition-label">卡路里</div>
                                    </div>
                                    <div class="nutrition-item">
                                        <div class="nutrition-value">{{item.protein}}g</div>
                                        <div class="nutrition-label">蛋白质</div>
                                    </div>
                                    <div class="nutrition-item">
                                        <div class="nutrition-value">{{item.fat}}g</div>
                                        <div class="nutrition-label">脂肪</div>
                                    </div>
                                    <div class="nutrition-item">
                                        <div class="nutrition-value">{{item.carbs}}g</div>
                                        <div class="nutrition-label">碳水化</div>
                                    </div>
                                    <div class="nutrition-item">
                                        <div class="nutrition-value">{{item.fiber}}g</div>
                                        <div class="nutrition-label">纤维</div>
                                    </div>
                                </div>
                            </md-tab-body>
                        </md-tab>
                    </md-tabs>
                </div>

            </div>
            <div class="cost-section">
                <div>
                    <div class="menu-title">{{item.name}}</div>
                    <div class="price">${{item.price}}</div>
                </div>
                <div class="quantity-selector">
                    <md-button md-theme='redThemeBtn' class="minus-icon md-fab md-primary md-mini" aria-label="Remove"
                               ng-click="decrement(item)"
                               ng-disabled="item.order.quantity === 0">
                        <md-icon md-svg-src="assets/icons/ic_remove_48px.svg"></md-icon>
                    </md-button>
                    <div class="amount">
                        {{item.order.quantity}}
                    </div>
                    <md-button md-theme='greenThemeBtn' class="plus-icon md-fab md-mini md-primary" aria-label="Plus"
                               ng-click="increment(item)">
                        <md-icon md-svg-src="assets/icons/ic_add_48px.svg"></md-icon>
                    </md-button>
                </div>
            </div>
        </div>
    </div>

    <div class="food-items">
        <!-- Checkout Area -->
        <row class="checkout-area">
            <div class="col-md-6">
                <!-- Order List -->
                <h3>你的订单(includes tax)</h3>
                <p class="text-muted"
                   ng-show="order.length === 0">暂无选项</p>
                <ul class="list-group">
                    <li class="list-group-item"
                        ng-repeat="item in order">
                        <p>
                            <span class="pull-left">{{item.order.quantity}}x {{item.name}}</span>
                            <span class="text-muted pull-right">${{item.order.cost()}}</span></p>
                    </li>
                </ul>
                <h4 ng-hide="order.length === 0">Total: ${{orderTotal(order)}}</h4>
            </div>
            <div class="col-md-6">
                <!-- Order Submission Area -->
                <h3>确定下单</h3>
                <row class="phone">
                    <div class="input-group">
                        <input
                                class="form-control"
                                type="text"
                                placeholder="e.g. 6478325099"
                                ng-model="phoneNumber"
                                ng-disabled="order.length === 0 || disableOrderBtn"/>
							<span class="input-group-btn">
								<button
                                        class="btn btn-success"
                                        type="button"
                                        ng-click="makeOrder()"
                                        ng-disabled="order.length === 0 || disableOrderBtn">下单</button>
							</span>
                    </div><!-- /input-group -->
                    <p  class="text-muted">
                        按下单后，我们会发一个短信给你，请回复 OK 确定下单。
                    </p>
                </row>
            </div>
        </row>
    </div>
</div>
