<div class="logo-header">
    <img src="images/logo.png" class="logo">
</div>
<div ng-hide="shopStatus.is_open">
    <div class="title-area">
        <h3>亲, 我们周五和周六不开放.</h3>
        <h4>如果想周一又吃上我们的美食的话周日早上10点又可以下订单了!</h4>
    </div>
</div>

<div ng-show="shopStatus.is_open">
    <div class="title-area">
        <h3>{{selectedLocation.school}} 今日午饭菜单</h3>
        <h4 ng-hide="selectedLocation" class='text-muted'>请先选择你的学校</h4>
        <h4 ng-show="selectedLocation" class='text-muted'>取餐时间、地点：{{defaultPickupTime}} 于
            {{selectedLocation.pickupLocation}}</h4>
    </div>

    <row class="menu-area">
        <div class="col-xs-3 location-sidebar-area">
            <div class="btn-group-vertical location-sidebar"
                 sticky offset="100" stick-limit="true">

                <label class="btn btn-primary"
                       ng-repeat="location in locations"
                       ng-model="selectedLocation"
                       btn-radio="location"
                       ng-click="selectLocation(location)">
                    {{location.school}}</label>
            </div>
        </div>
        <div class="col-xs-9 food-items-area">

            <div class="food-item"
                 ng-controller="foodController"
                 ng-repeat="item in food">
                <div class="img-container">
                    <img ng-src="{{item.image}}" alt="Food Image"/>
                </div>
                <md-button class="description-button" ng-click="isCollapsed = !isCollapsed">
                    description <span class="pull-right">
                        <md-icon ng-show='isCollapsed' md-svg-src="assets/icons/ic_add_48px.svg" alt="plus"></md-icon>
                    <md-icon ng-hide="isCollapsed" md-svg-src="assets/icons/ic_remove_48px.svg" alt="minus"></md-icon>
                </md-button>
                <div class="food-description-box" ng-class="{open: !isCollapsed}">
                    <div class="card-text-top" ng-bind-html="item.description">
                    </div>
                    <div class="card-text-middle">
                      <span ng-show="item.spicy">
                        <md-icon md-svg-src="assets/icons/flame.svg" alt="spicy"></md-icon> Spicy
                      </span>
                    </div>
                    <div class="card-text-bottom">
                        <md-tabs md-stretch-tabs="never" md-dynamic-height="true">
                            <md-tab>
                                <md-tab-label>材料</md-tab-label>
                                <md-tab-body>
                                    <md-content class="ingredients-section-content"
                                                ng-bind-html="item.ingredients">
                                    </md-content>
                                    <div class="ingredients-section"
                                         ng-bind-html="item.ingredients">
                                    </div>
                                </md-tab-body>
                            </md-tab>
                            <md-tab>
                                <md-tab-label>营养价值</md-tab-label>
                                <md-tab-body>
                                    <div class="nutrition-tab">
                                        <div class="nutrition-item">
                                            <div class="nutrition-value">{{item.calories}}</div>
                                            <div class="nutrition-label">卡路里</div>
                                        </div>
                                        <div class="nutrition-item">
                                            <div class="nutrition-value">{{item.protein}}g</div>
                                            <div class="nutrition-label">蛋白质</div>
                                        </div>
                                        <div class="nutrition-item">
                                            <div class="nutrition-value">{{item.fat}}g</div>
                                            <div class="nutrition-label">脂肪</div>
                                        </div>
                                        <div class="nutrition-item">
                                            <div class="nutrition-value">{{item.carbs}}g</div>
                                            <div class="nutrition-label">碳水化</div>
                                        </div>
                                        <div class="nutrition-item">
                                            <div class="nutrition-value">{{item.fiber}}g</div>
                                            <div class="nutrition-label">纤维</div>
                                        </div>
                                    </div>
                                </md-tab-body>
                            </md-tab>
                        </md-tabs>
                    </div>

                </div>
                <div class="cost-section">
                    <div>
                        <div class="menu-title">{{item.name}}</div>
                        <div class="price">${{item.price}}</div>
                    </div>
                    <div class="quantity-selector">
                        <md-button md-theme='redThemeBtn' class="minus-icon md-fab md-primary md-mini"
                                   aria-label="Remove"
                                   ng-click="decrement(item.order)"
                                   ng-disabled="item.order.quantity === 0">
                            <md-icon md-svg-src="assets/icons/ic_remove_48px.svg"></md-icon>
                        </md-button>
                        <div class="amount">
                            {{item.order.quantity}}
                        </div>
                        <md-button md-theme='greenThemeBtn' class="plus-icon md-fab md-mini md-primary"
                                   aria-label="Plus"
                                   ng-click="increment(item.order)">
                            <md-icon md-svg-src="assets/icons/ic_add_48px.svg"></md-icon>
                        </md-button>
                    </div>
                </div>
            </div>
            <row class="checkout-area">
                <div class="col-md-6">
                    <h3>你的订单(includes tax)</h3>

                    <div class="text-muted"
                         ng-hide="order.length === 0">
                        <h5>学校： {{selectedLocation.school}}</h5>
                        <h5>取餐地点： {{selectedLocation.pickupLocation}}</h5>
                        <h5>取餐时间： {{defaultPickupTime}}</h5>
                    </div>
                    <p class="text-muted"
                       ng-show="order.length === 0">暂无选项</p>
                    <ul class="list-group">
                        <li class="list-group-item"
                            ng-repeat="item in order">
                            <p>
                                <span class="pull-left">{{item.order.quantity}}x {{item.name}}</span>
                                <span class="text-muted pull-right">${{item.order.cost()}}</span></p>
                        </li>
                    </ul>
                    <h4 ng-hide="order.length === 0">Total: ${{orderTotal(order)}}</h4>
                </div>
                <div class="col-md-6">
                    <h3>确定下单</h3>
                    <h5 class='text-danger'
                        ng-show="!selectedLocation">请选择你的学校</h5>
                    <row class="phone">
                        <div class="input-group">
                            <input
                                    class="form-control"
                                    type="text"
                                    placeholder="e.g. 6478321234"
                                    ng-model="phoneNumber"
                                    ng-disabled="order.length === 0 || !selectedLocation || isCountingDown()"/>
                                <span class="input-group-btn">
                                    <button
                                            class="btn btn-success"
                                            type="button"
                                            ng-click="makeOrder(phoneNumber, order, selectedLocation)"
                                            ng-disabled="order.length === 0 || !selectedLocation || isCountingDown()">
                                        {{inputPlaceHolder()}}
                                    </button>
                                </span>

                        </div>
                        <p class="text-muted order-subtext">
                            按下单后，我们会发一个短信给你，请回复 OK 确定下单。
                        </p>
                    </row>
                </div>
            </row>
        </div>

    </row>

</div>
<footer>
    <row class="menu-area footer-area">
        <div class="col-md-6 company-intro">
            <ul>
                <li>公司简介:</li>
                <li><b>UFAN</b>, 热爱生活, 热爱时尚, 不爱千遍一律;</li>
                <li><b>UFAN</b>, 要美食, 要玩乐, 不要辘辘饥肠；</li>
                <li><b>UFAN</b>, 不是街边餐馆, 不是家庭厨房, 更不是垃圾食物;</li>
                <li><b>UFAN</b>, 用心做好每一份盒饭。</li>
            </ul>
        </div>
        <div class="col-md-6 company-contact">
            <ul>
                <li>公司联系方式:</li>
                <li>电话：905-597-0143</li>
                <li>地址：300 John St，Toronto, ON M5T 1X5</li>
            </ul>
        </div>
    </row>
</footer>
